* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background: linear-gradient(45deg, rgba(0, 255, 85, 0.993), rgb(56, 240, 240));
    color: #b94a98;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background: linear-gradient(45deg, rgba(110, 173, 245, 0.993), rgb(223, 236, 150));
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 900px;
}

h1 {
    color: #6e0577;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2.2em;
    font-weight: 900;
    text-decoration: underline;
}

h3 {
    color: #2a5298;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}
.subtitle {
    text-align: center;
    color: #700985;
    margin-bottom: 30px;
    font-size: 0.9em;
}
.section {
    margin-bottom: 25px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 8px;
    font-weight: 500;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    min-height: 80px;
    font-family: inherit;
    transition: border-color 0.3s;
}

textarea:focus {
    outline: none;
    border-color: #2a5298;
}

.char-count {
    text-align: right;
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}

.matriz-display {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #e0e0e0;
    min-height: 60px;
    font-family: 'Courier New', monospace;
    color: #333;
    line-height: 1.8;
}

.matriz-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 200px;
}

.matriz-input input {
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    transition: border-color 0.3s;
}

.matriz-input input:focus {
    outline: none;
    border-color: #2a5298;
}

button {
    background: linear-gradient(45deg, rgba(0, 255, 157, 0.993), rgb(227, 240, 56));
    color: rgb(7, 128, 117);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

button:hover {
    background: #075a15;
    transform: translateY(-2px);
    background: linear-gradient(45deg, rgb(55, 206, 55), rgba(0, 225, 255, 0.993));

}

button:active {
    transform: scale(0.98);
}

.resultado-encriptado {
    background-color: #e0f7fa; /* azul claro */
    border: 2px solid #00acc1;
}

.resultado-desencriptado {
    background-color: #f1f8e9; /* verde claro */
    border: 2px solid #7cb342;
}

.error {
    color: #d32f2f;
    background: #ffebee;
    border-color: #d32f2f;
}